@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "A demo function that outputs a hello message."; }
    }

    [FunctionParameter(DefaultValue = "World")]
    public string Name { get; set; }
}

@{
    var pagenodes = Sitemap.CurrentHomePageNode.GetPageNodes(SitemapScope.Level2AndSiblings).ToList();
    if (!pagenodes.Any()) { return; }
}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>



<div class="menu">
                            <ul>
                             
                         

                          
                @{  string active = "";
                    if (CurrentPageNode.Url == @HomePageNode.Url)
                    { active = "active"; }
                        }
                <li >
                    <a href="@HomePageNode.Url" class="@active"><span>@HomePageNode.MenuTitle</span></a>
                </li>

                @foreach (var page in pagenodes)
                {
                    if (!string.IsNullOrEmpty(page.MenuTitle))
                    {
                        active = "";
                        if (CurrentPageNode.Url == page.Url)
                        { active = "active"; }
                    <li>
                        <a href="@page.Url" class="@active"><span>@page.MenuTitle</span></a>
                    </li>
                    }
                }


            </ul>
        </div>
    
     <div class="clr"></div>




</body>
</html>
