@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "A demo function that outputs a hello message."; }
    } 
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>
    @{
        Composite.Core.Routing.Pages.C1PageRoute.RegisterPathInfoUsage();
        string Title = My.Utils.PathInfoString(0);
        Rain.Clients data = null;

        if (!string.IsNullOrEmpty(Title))
        {
            data = Data.Get<Rain.Clients>().Where(t => My.Utils.convertToUrl(t.Title) == Title).FirstOrDefault();
        }

        if (data != null)
        {
            var listData = Data.Get<Rain.Clients>().Where(a => a.Id != data.Id).ToList();
             
        
        <f:function name="Rain.StandardGallery" xmlns:f="http://www.composite.net/ns/function/1.0">
			<f:param name="ImagesFolder" value="@data.Gallery" />
		</f:function> 
        <div class="row-fluid">
            <div class="pane-container">
                <div class="span6">
                    <div class="heading1">
                        @data.Title
                    </div>
                    <div class="about-us-info">
                        @Html.Raw(data.Content)
                    </div>
                </div>
                <div class="span6">
                    <div class="pane-container">
                        <div class="heading1">
                            Other Clients
                        </div>
                        @foreach (var item in listData)
                        {
                            string url = CurrentPageNode.Url + "/" + My.Utils.convertToUrl(item.Title);
                            <div class="row-fluid other-client">

                                <div class="other-client-title">@item.Title</div>
                                <div><a class="view-button" href="@url">View</a></div>
                            </div>
                        }
                       
                    </div>
                </div>
            </div>
        </div>
        }
    }
</body>
</html>
